<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href='/static/song_display_style.css'>
    <style>
        .song-list {
            list-style: none;
        }
    </style>
</head>

<body>
    <div class="main">
        <h1>Welcome {{user}}!</h1>
        <form id="music" method="POST" action="/music-selection">
            <h2>Required Fields</h2>
            <div class="requiredForms forms">
                <div class="formItem">
                    <label for="artist"></label>
                    <input type="text" id="artist" name="artist" placeholder="Select an artist">
                </div>
                <div class="formItem">
                    <label for="track"></label>
                    <input type="text" id="track" name="track" placeholder="Select a track">
                </div>
            </div>
            <br><br>
            <h2>Optional Fields</h2>
            <div class="optionalForms forms">
                <div class="formItem">
                    <label for="genres"></label>
                    <input type="text" id="genres" name="genres" placeholder="Select a genre">
                </div>
            </div>
        <input type=hidden name="user" value="{{user}}">
        <button id="submit" type="submit">Submit</button>
        </form>
        <h3>Recommend Songs
            {% if song != None%}
            <p>{{song}} by {{artist}}</p>
            <form id="music" method="POST" action="/music-database">
                <input type=hidden name="song_name" value="{{song}}">
                <input type=hidden name="song_artist" value="{{artist}}">
                <input type=hidden name="user" value="{{user}}">
                <button>Add to list</button>
            </form>
        </h3>
        {% endif %}
        <h3>Songs you found


            {% for song_list in song_lists %}
            {% if song_list.username == user%}
            <ul class="song-list">
                <li>{{ song_list.song}} by {{song_list.artist}} </li>

                <br>
            </ul>
            {% endif %}
            {% endfor %}
        </h3>
        <a id='logout' href="{{url_for('logout')}}">Logout</a>
    </div>
</body>

</html>