<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='accountStyle.css') }}" rel="stylesheet"/>
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <h1>Sign Up</h1>
        {% if error_message %}
            <h4>{{error_message}}</h4>
        {% else %}
            <br>
        {% endif %}
        <form method="POST" action="/signup">
            <div class="formItem">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required/>
            </div>
            <div class="formItem">
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required/>
            </div>
            <button type="submit">Sign Up</button>
        </form>
        <a id='login' href="{{url_for('login')}}">Already have an account? Login here!</a>
    </div>
</body>
</html>